.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    padding: 5px 0;
    font: 18px bold;

}

.item:not(:last-of-type){
    margin-bottom: 10px;
}

.available{
    background-color: green;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.disabled{
    background-color: red;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}