.statistics{
    max-width: 250px;
    width: 100%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    margin: 20px 0;
}

.statistics__title{
    text-align: center;
    font: 20px normal;
    text-transform: uppercase;
    padding: 20px 0;
}

.statistics__list{
    display: flex;
    list-style: none;
}

.statistics__item{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.statistics__list > .statistics__item{
    width: calc(100%/5)
}

.statistics__label{
    font-size: 12px;
    color: white;
}

.statistics__percentage{
    font-size: 20px;
    color: white;
}